{% extends 'parents.html'%}

{% block title %}blog -homepage{% endblock %}
{% block header_title %}Soderberg's blog{% endblock %}

{% block content %}
<div>
    <a href="/add_blog/" class="btn btn-primary pull-right" role="button">Write blog</a>
    <div class="clearfix"></div>
</div>
<table class="table">
    <thead>
    <th>Title</th>
    </thead>
    <tbody>
    {% for blog in blogs %}
    <tr>
        <td><a href="/blog_detail/?id={{ blog['id'] }}">{{ blog['title'] }}</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}