<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat page</title>
</head>
<body>
<div id="contents" style="width:500px;height=500px;background:red">

</div>
<div>
    <input type="text" id="message"/>
    <button onclick="sendMessage()">send</button>
</div>
<script>


    var ws=new WebSocket("ws://192.168.254.133:8086/chat");
    ws.onmessage=function(e){
        console.log(e.data)
        var node=document.createElement("P");
        var textnode=document.createTextNode(e.data);
        node.appendChild(textnode);
        document.querySelector("#contents").appendChild(node)
    }
    function sendMessage(){
        var msginput=document.querySelector("#message")
        ws.send(msginput.value)
        msginput.value=""
    }

</script>
</body>
</html>