<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<form action="/postfile" method="post">
    Name:<input type="text" name="username"/>
    <hr/>
    Password<input type="password" name="passwd"/>
    <hr/>
    Hobby:
    <input type="checkbox" value="power" name="hobby">Power
    <input type="checkbox" value="money" name="hobby">Money
    <input type="checkbox" value="book" name="hobby">Book
    <input type="submit" value="login">
</form>
</body>
</html>