<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/postfile" method="post">
    <!--{% module xsrf_form_html() %}-->
    Name:<input type="text" name="username"/>
    <hr/>
    Password<input type="password" name="passwd"/>
    <hr/>
    <input type="submit" value="login">
</form>
<script>
    function getCookie(name){
        var cookievalues=document.cookie.match("\\b"+name+"=([^:]*)\\b")
        return cookievalues?cookievalues[1]:undefined
    }
    document.getElementById("hiddenTextId").value(getCookie("_xsrf"))
</script>
</body>
</html>